$primary-font: "Open sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
$gray: #393e46;
$gray-light-1: #6a727f;
$gray-light-2: #f7f8f9;
$gray-dark-1: #2b3139;
$gray-dark-2: #222831;
$gray-dark-3: #1e242e;
$primary-color: #f56766;
$secondary-color: #f58826;
